<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coin.coinone.dao.CoinDao"><!--namespace를 통해 UserDAO와 연결합니다. -->


    <select id="searchCoinList" resultType="com.coin.coinone.domain.Coin">
        SELECT currency,coin_NAME,deal,sec FROM coin_table
    </select>
    <insert id="insertItem" parameterType="com.coin.coinone.domain.Coin">
        INSERT INTO coin_table
        (`key`, `name`,`deal`)
        VALUES
        ('#{key}', '${name}','1')
    </insert>
    <insert id="insertTicker" parameterType="com.coin.coinone.domain.Ticker">
        INSERT INTO ticker_table
        (`currency`, `high`, `low`, `first`, `last`, `volume`, `time`, `avg_move`, `avg_mean`)
        VALUES
        (#{currency},#{high},#{low},#{first},#{last},#{volume},#{timestamp},
            (SELECT AVG((high+low+LAST)/3) avg_move FROM ticker_table a
             WHERE STR_TO_DATE(time,'%Y-%m-%d %H:%i:%s') >= DATE_ADD(STR_TO_DATE(#{timestamp},'%Y-%m-%d %H:%i:%s'),INTERVAL -1 HOUR)
             AND currency=#{currency}),
            (SELECT AVG(ABS(((high+low+LAST)/3)-avg_move)) avg_mean FROM ticker_table b
             WHERE STR_TO_DATE(time,'%Y-%m-%d %H:%i:%s') >= DATE_ADD(STR_TO_DATE(#{timestamp},'%Y-%m-%d %H:%i:%s'),INTERVAL -1 HOUR )
             AND currency=#{currency})

        )
--             ((high+low+LAST)/3-avg_move)/(avg_mean*0.015) cci

    </insert>
    <select id="searchTicker" resultType="com.coin.coinone.domain.Ticker">
        SELECT high,low,last FROM ticker_table
        WHERE currency = #{currency}
        AND STR_TO_DATE(time,'%Y-%m-%d %H:%i:%s') = DATE_ADD(STR_TO_DATE(#{timestamp},'%Y-%m-%d %H:%i:%s'),INTERVAL -1 MINUTE)
    </select>
    <select id="getCalcN" resultType="String">
        SELECT AVG((high+low+LAST)/3) FROM ticker_table
        WHERE currency = #{currency}
        AND STR_TO_DATE(time,'%Y-%m-%d %H:%i:%s') >= DATE_ADD(STR_TO_DATE(#{timestamp},'%Y-%m-%d %H:%i:%s'),INTERVAL -1 MINUTE)
    </select>
</mapper>